# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.db

# FastAPI uploads/logs
uploads/
logs/

# Environment variables
.env
.env.*

# Node / React
node_modules/
dist/
build/

# Vite cache
.vite/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
